## Accessing and Manipulating Kaguya Spectral Profiler Data

First, it is necessary to import the `libpyhat` module.  This notebook also imports a helper function `get_path` that makes working with the sample data shipped with `libpyhat` easier.

In [6]:
import libpyhat as phat
from libpyhat.examples import get_path
import plio.io.io_spectral_profiler as isp

['/Users/tgabriel/PyHAT/notebooks', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python39.zip', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9/lib-dynload', '', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9/site-packages', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9/site-packages/IPython/extensions', '/Users/tgabriel/.ipython', 'PyHAT/libpyhat', 'PyHAT/libpyhat', '/Users/tgabriel/PyHAT/libpyhat', '/Users/tgabriel/PyHAT/libpyhat/']
['/Users/tgabriel/PyHAT/notebooks', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python39.zip', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9/lib-dynload', '', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9/site-packages', '/Users/tgabriel/anaconda3/envs/pyhat/lib/python3.9/site-packages/IPython/extensions', '/Users/tgabriel/.ipython', 'PyHAT/libpyhat', 'PyHAT/libpyhat', '/Users/tgabriel/PyHAT/libpyhat', '/Users/tgabriel/PyHAT/libpyhat/', '/Users/tgabriel/PyHAT/']

To open a spectral profiler 'image', we use the `plio.io.io_spectral_profiler.Spectral_Profiler` call.  If example data is not going to be used, the `get_path(<my_file_path>)` can be replaced with `<my_file_path>`, since our helper function does not know where your data is being stored.

In [7]:
profile = isp.Spectral_Profiler(get_path('SP_2C_02_02358_S138_E3586.spc'))

You may want to learn a bit more about the spectra you're about to analyze/process, so let's read some of the header information.

In [155]:
profile.label

PVLModule([
  ('PDS_VERSION_ID', 'PDS3')
  ('RECORD_TYPE', 'UNDEFINED')
  ('FILE_NAME', 'SP_2C_02_02358_S138_E3586.spc')
  ('PRODUCT_ID', 'SP_2C_02_02358_S138_E3586')
  ('DATA_FORMAT', 'PDS')
  ('^ANCILLARY_AND_SUPPLEMENT_DATA', Units(value=24737, units='BYTES'))
  ('^SP_SPECTRUM_WAV', Units(value=31045, units='BYTES'))
  ('^SP_SPECTRUM_RAW', Units(value=31637, units='BYTES'))
  ('^SP_SPECTRUM_REF2', Units(value=54133, units='BYTES'))
  ('^SP_SPECTRUM_RAD', Units(value=76629, units='BYTES'))
  ('^SP_SPECTRUM_REF1', Units(value=99125, units='BYTES'))
  ('^SP_SPECTRUM_QA', Units(value=121621, units='BYTES'))
  ('^L2D_RESULT_ARRAY', Units(value=144117, units='BYTES'))
  ('SOFTWARE_NAME', 'RGC_SP')
  ('SOFTWARE_VERSION', '2.10.3')
  ('PROCESS_VERSION_ID', 'L2C')
  ('PRODUCT_CREATION_TIME',
   datetime.datetime(2012, 3, 28, 18, 21, 14, tzinfo=<UTC>))
  ('PROGRAM_START_TIME', datetime.datetime(2012, 3, 28, 18, 15, 41, tzinfo=<UTC>))
  ('PRODUCER_ID', 'LISM')
  ('PRODUCT_SET_ID', 'SP_Level2C')
  ('PRODUCT_VERSION_ID', '02')
  ('REGISTERED_PRODUCT', 'Y')
  ('LEVEL2B1_FILE_NAME', 'SP_2B1_02_02358_1AN0E35873N.spc')
  ('SOURCE_FILE_NAME', 'SP_2B2_02_02358_S138_E3586.spc')
  ('SPICE_METAKERNEL_FILE_NAME',
   'RGC_INF_TCv401IK_MIv200IK_SPv105IK_RISE100i_05_LongCK_D_V02_de421_110706.mk')
  ('MISSION_NAME', 'SELENE')
  ('SPACECRAFT_NAME', 'SELENE-M')
  ('DATA_SET_ID', 'SELENE_Moon_SP_Level2C')
  ('INSTRUMENT_NAME', 'Spectral Profiler')
  ('INSTRUMENT_ID', 'SP')
  ('MISSION_PHASE_NAME', 'Nominal')
  ('REVOLUTION_NUMBER', 2358)
  ('STRIP_SEQUENCE_NUMBER', 2)
  ('SCENE_SEQUENCE_NUMBER', 87)
  ('REV_STRIP_SCENE', 'N/A')
  ('TARGET_NAME', 'MOON')
  ('OBSERVATION_MODE_ID', 'OBS-NORMAL')
  ('SENSOR_DESCRIPTION',
   'SP is a nadir-looking spectrometer which has a reflective telescope, two '
   'plane gratings, and three 128-element detectors covering 296 bands in 500 - '
   '2600 nm. The first detector is Si PIN photodiode, and the rest are InGaAs.')
  ('SENSOR_DESCRIPTION2', 'SP SENSOR DESCRIPTION2')
  ('EXPOSURE_MODE_ID', 'SHORT')
  ('SHORT_EXPOSURE_DURATION', Units(value=26.0, units='msec'))
  ('LONG_EXPOSURE_DURATION', Units(value=77.0, units='msec'))
  ('CALIBRATION_MODE_ID', 'NONE')
  ('SPACECRAFT_CLOCK_START_COUNT', Units(value=892633171.9406, units='sec'))
  ('SPACECRAFT_CLOCK_STOP_COUNT', Units(value=892633185.4085, units='sec'))
  ('START_TIME', datetime.datetime(2008, 4, 19, 9, 39, 37, 436807, tzinfo=<UTC>))
  ('STOP_TIME', datetime.datetime(2008, 4, 19, 9, 39, 50, 904738, tzinfo=<UTC>))
  ('UPPER_LEFT_LATITUDE', Units(value=-13.488591, units='deg'))
  ('UPPER_LEFT_LONGITUDE', Units(value=358.607848, units='deg'))
  ('UPPER_RIGHT_LATITUDE', Units(value=-13.488591, units='deg'))
  ('UPPER_RIGHT_LONGITUDE', Units(value=358.607848, units='deg'))
  ('LOWER_LEFT_LATITUDE', Units(value=-14.184324, units='deg'))
  ('LOWER_LEFT_LONGITUDE', Units(value=358.601529, units='deg'))
  ('LOWER_RIGHT_LATITUDE', Units(value=-14.184324, units='deg'))
  ('LOWER_RIGHT_LONGITUDE', Units(value=358.601529, units='deg'))
  ('LOCATION_FLAG', 'D')
  ('ROLL_CANT', 'NO')
  ('MOON_SUN_DISTANCE', Units(value=150664765, units='km'))
  ('VIS_FOCAL_PLANE_TEMPERATURE', Units(value=21.06, units='degC'))
  ('N1_FOCAL_PLANE_TEMPERATURE', Units(value=18.33, units='degC'))
  ('N2_FOCAL_PLANE_TEMPERATURE', Units(value=243.0, units='K'))
  ('SATELLITE_MOVING_DIRECTION', '+1')
  ('A_AXIS_RADIUS', Units(value=1737.4, units='km'))
  ('B_AXIS_RADIUS', Units(value=1737.4, units='km'))
  ('C_AXIS_RADIUS', Units(value=1737.4, units='km'))
  ('SPACECRAFT_ALTITUDE', Units(value=88.753, units='km'))
  ('SPACECRAFT_GROUND_SPEED', Units(value=1.565, units='km/sec'))
  ('VIS_BAND_NUMBER', 84)
  ('VIS_SPECTRAL_COVERAGE', Units(value=[482.6, 980.6], units='nm'))
  ('VIS_BAND_WIDTH', Units(value=6.0, units='nm'))
  ('N1_BAND_NUMBER', 100)
  ('N1_SPECTRAL_COVERAGE', Units(value=[894.4, 1688.9], units='nm'))
  ('N1_BAND_WIDTH', Units(value=8.0, units='nm'))
  ('N2_BAND_NUMBER', 112)
  ('N2_SPECTRAL_COVERAGE', Units(value=[1694.9, 2583.1], units='nm'))
  ('N2_BAND_WIDTH', Units(value=8.0, units='nm'))
  ('PROCESS_PARAMETER_FILE_NAME', 'SP_higher_level_proc_param.txt')
  ('DAYTIME_EQUATOR_CROSSING_LON', 'N/A')
  ('IMAGER', 'MV2')
  ('TM_DATA_SET_NAME', 'MVA2A0_02NS02358_002_0087.sl2')
  ('TM_CORRECTED_START_TIME',
   datetime.datetime(2008, 4, 19, 9, 39, 34, 499109, tzinfo=<UTC>))
  ('TM_CORRECTED_STOP_TIME',
   datetime.datetime(2008, 4, 19, 9, 39, 48, 526060, tzinfo=<UTC>))
  ('TM_CORRECTED_SAMPLING_INTERVAL', Units(value=12.999954, units='msec'))
  ('TM_LINES', 1080)
  ('TM_LINE_SAMPLES', 962)
  ('TM_FIRST_PIXEL_NUMBER', 1)
  ('TM_LAST_PIXEL_NUMBER', 962)
  ('TM_UPPER_LEFT_LATITUDE', Units(value=-13.492355, units='deg'))
  ('TM_UPPER_LEFT_LONGITUDE', Units(value=358.318568, units='deg'))
  ('TM_UPPER_RIGHT_LATITUDE', Units(value=-13.495974, units='deg'))
  ('TM_UPPER_RIGHT_LONGITUDE', Units(value=358.894891, units='deg'))
  ('TM_LOWER_LEFT_LATITUDE', Units(value=-14.216854, units='deg'))
  ('TM_LOWER_LEFT_LONGITUDE', Units(value=358.311091, units='deg'))
  ('TM_LOWER_RIGHT_LATITUDE', Units(value=-14.220493, units='deg'))
  ('TM_LOWER_RIGHT_LONGITUDE', Units(value=358.889224, units='deg'))
  ('TM_SATURATED_PIXEL_PERCENTAGE', 0)
  ('TM_DEAD_PIXEL_PERCENTAGE', 0)
  ('TM_SHADOWED_AREA_PIXEL_PERCENTAGE', 0)
  ('HIGH_SP_POINT_NUM', 0)
  ('NORMAL_SP_POINT_NUM', 38)
  ('UPPER_MARGIN_POINT_NUM', 'N/A')
  ('LOWER_MARGIN_POINT_NUM', 'N/A')
  ('CAL_LAMP_INFO', 'N/A')
  ('MATCHING_ACCURACY_INFO', '1001')
  ('ANCILLARY_AND_SUPPLEMENT_DATA',
   {'COLUMN': {'BYTES': 8,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPACECRAFT_CLOCK_COUNT',
               'START_BYTE': 1,
               'UNIT': 'sec'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'VIS_FOCAL_PLANE_TEMPERATURE',
               'START_BYTE': 9,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'NIR1_FOCAL_PLANE_TEMPERATURE',
               'START_BYTE': 13,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'NIR2_FOCAL_PLANE_TEMPERATURE',
               'START_BYTE': 17,
               'UNIT': 'K'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPECTROMETER_TEMPERATURE_1',
               'START_BYTE': 21,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPECTROMETER_TEMPERATURE_2',
               'START_BYTE': 25,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPECTROMETER_TEMPERATURE_3',
               'START_BYTE': 29,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPECTROMETER_TEMPERATURE_4',
               'START_BYTE': 33,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'HALOGEN_BULB_RADIANCE',
               'START_BYTE': 37,
               'UNIT': 'V'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'HALOGEN_BULB_VOLTAGE1',
               'START_BYTE': 41,
               'UNIT': 'V'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'HALOGEN_BULB_VOLTAGE2',
               'START_BYTE': 45,
               'UNIT': 'V'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'HALOGEN_BULB_TEMPERATURE1',
               'START_BYTE': 49,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'HALOGEN_BULB_TEMPERATURE2',
               'START_BYTE': 53,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPACECRAFT_ALTITUDE',
               'START_BYTE': 57,
               'UNIT': 'km'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPACECRAFT_GROUND_SPEED',
               'START_BYTE': 61,
               'UNIT': 'km/sec'},
    'COLUMN': {'BYTES': 8,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SUB_SPACECRAFT_LATITUDE',
               'START_BYTE': 65,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 8,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SUB_SPACECRAFT_LONGITUDE',
               'START_BYTE': 73,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 8,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'CENTER_LATITUDE',
               'START_BYTE': 81,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 8,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'CENTER_LONGITUDE',
               'START_BYTE': 89,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'EMISSION_ANGLE',
               'START_BYTE': 97,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SPACECRAFT_AZIMUTH',
               'START_BYTE': 101,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'INCIDENCE_ANGLE',
               'START_BYTE': 105,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SOLAR_AZIMUTH_ANGLE',
               'START_BYTE': 109,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'PHASE_ANGLE',
               'START_BYTE': 113,
               'UNIT': 'deg'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_TEMPERATURE',
               'START_BYTE': 117,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_PELTIER_HOT_TEMPERATURE',
               'START_BYTE': 121,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_N2_RADIATOR_TEMPERATURE',
               'START_BYTE': 125,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_CAL_VIS_TEMPERATURE',
               'START_BYTE': 129,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_CAL_NIR_TEMPERATURE',
               'START_BYTE': 133,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'DPU_TEMPERATURE',
               'START_BYTE': 137,
               'UNIT': 'degC'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_POWER_P5V',
               'START_BYTE': 141,
               'UNIT': 'V'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_POWER_M15V',
               'START_BYTE': 145,
               'UNIT': 'V'},
    'COLUMN': {'BYTES': 4,
               'DATA_TYPE': 'IEEE_REAL',
               'NAME': 'SP_POWER_P15V',
               'START_BYTE': 149,
               'UNIT': 'V'},
    'COLUMN': {'BYTES': 1,
               'DATA_TYPE': 'MSB_INTEGER',
               'NAME': 'CALIBRATION',
               'START_BYTE': 153,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 1,
               'DATA_TYPE': 'MSB_INTEGER',
               'NAME': 'SP_PELTIER',
               'START_BYTE': 154,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 1,
               'DATA_TYPE': 'MSB_INTEGER',
               'NAME': 'TC_MI_STATUS',
               'START_BYTE': 155,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 1,
               'DATA_TYPE': 'MSB_INTEGER',
               'NAME': 'CLOCK_COUNT_ERR_FLAG',
               'START_BYTE': 156,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 1,
               'DATA_TYPE': 'MSB_UNSIGNED_INTEGER',
               'NAME': 'SPATIAL_RESOLUTION_FLAG',
               'START_BYTE': 157,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 1,
               'DATA_TYPE': 'MSB_UNSIGNED_INTEGER',
               'NAME': 'GEOMETRIC_INFO_RECAL_FLAG',
               'START_BYTE': 158,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 2,
               'DATA_TYPE': 'MSB_UNSIGNED_INTEGER',
               'NAME': 'SUPPORT_IMAGE_LINE_POSITION',
               'START_BYTE': 159,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 2,
               'DATA_TYPE': 'MSB_UNSIGNED_INTEGER',
               'NAME': 'SUPPORT_IMAGE_COLUMN_POSITION',
               'START_BYTE': 161,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 2,
               'DATA_TYPE': 'MSB_UNSIGNED_INTEGER',
               'NAME': 'THUMBNAIL_LINE_POSITION',
               'START_BYTE': 163,
               'UNIT': 'N/A'},
    'COLUMN': {'BYTES': 2,
               'DATA_TYPE': 'MSB_UNSIGNED_INTEGER',
               'NAME': 'THUMBNAIL_COLUMN_POSITION',
               'START_BYTE': 165,
               'UNIT': 'N/A'},
    'COLUMNS': 43,
    'INTERCHANGE_FORMAT': 'BINARY',
    'ROWS': 38,
    'ROW_BYTES': 166})
  ('SP_SPECTRUM_WAV',
   {'IMAGE_VALUE_TYPE': 'WAVELENGTH',
    'LINES': 1,
    'LINE_SAMPLES': 296,
    'OFFSET': 0.0,
    'SAMPLE_BITS': 16,
    'SAMPLE_TYPE': 'MSB_UNSIGNED_INTEGER',
    'SCALING_FACTOR': 0.1,
    'UNIT': 'nm'})
  ('SP_SPECTRUM_RAW',
   {'IMAGE_VALUE_TYPE': 'RAW_DN',
    'LINES': 38,
    'LINE_SAMPLES': 296,
    'OFFSET': 'N/A',
    'SAMPLE_BITS': 16,
    'SAMPLE_TYPE': 'MSB_UNSIGNED_INTEGER',
    'SCALING_FACTOR': 'N/A',
    'UNIT': 'ND'})
  ('SP_SPECTRUM_REF2',
   {'IMAGE_VALUE_TYPE': 'REFLECTANCE',
    'LINES': 38,
    'LINE_SAMPLES': 296,
    'OFFSET': 0.0,
    'SAMPLE_BITS': 16,
    'SAMPLE_TYPE': 'MSB_UNSIGNED_INTEGER',
    'SCALING_FACTOR': 0.0001,
    'UNIT': 'ND'})
  ('SP_SPECTRUM_RAD',
   {'IMAGE_VALUE_TYPE': 'RADIANCE',
    'LINES': 38,
    'LINE_SAMPLES': 296,
    'OFFSET': 0.0,
    'SAMPLE_BITS': 16,
    'SAMPLE_TYPE': 'MSB_UNSIGNED_INTEGER',
    'SCALING_FACTOR': 0.01,
    'UNIT': 'W/m**2/micron/sr'})
  ('SP_SPECTRUM_REF1',
   {'IMAGE_VALUE_TYPE': 'REFLECTANCE',
    'LINES': 38,
    'LINE_SAMPLES': 296,
    'OFFSET': 0.0,
    'SAMPLE_BITS': 16,
    'SAMPLE_TYPE': 'MSB_UNSIGNED_INTEGER',
    'SCALING_FACTOR': 0.0001,
    'UNIT': 'ND'})
  ('SP_SPECTRUM_QA',
   {'IMAGE_VALUE_TYPE': 'QUALITY',
    'LINES': 38,
    'LINE_SAMPLES': 296,
    'OFFSET': 0.0,
    'SAMPLE_BITS': 16,
    'SAMPLE_TYPE': 'MSB_UNSIGNED_INTEGER',
    'SCALING_FACTOR': 1.0,
    'UNIT': 'N/A'})
  ('L2D_RESULT_ARRAY',
   {'IMAGE_VALUE_TYPE': 'N/A',
    'LINES': 0,
    'LINE_SAMPLES': 0,
    'OFFSET': 'N/A',
    'SAMPLE_BITS': 0,
    'SAMPLE_TYPE': 'N/A',
    'SCALING_FACTOR': 'N/A',
    'UNIT': 'N/A'})
])

There are other bits of information that held in the attributes of the `profile` object, such as the number of obseravations.

In [175]:
profile.nspectra

38

Now lets access the spectra itself.

In [176]:
s = profile.spectra

The `s` object is based on a pandas data frame. Therefore, anything that you might normally do with a pandas data frame, can be applied to the object. In this notebook we demo a few of the possible operations that Pandas provides. Note that the parent object of `s` (`profile`) has other functionalities you can access such as `profile.wavelength`.

## Viewing the data

To see the first or last rows in the `Spectra` object, one can use `head` or `tail`, respectively.

In [177]:
#Show the first 5 lines of the pandas frame
s.head(5)

           0                                     1                          \
          RAW    REF1    REF2     QA    RAD     RAW    REF1    REF2     QA
512.6  5123.0  0.0402  0.0397  288.0  27.94  5164.0  0.0414  0.0409  288.0
518.4  5887.0  0.0487  0.0482  288.0  30.99  5955.0  0.0502  0.0497  288.0
524.7  6375.0  0.0497  0.0492  288.0  33.66  6461.0  0.0513  0.0507  288.0
530.4  6806.0  0.0520  0.0515  288.0  35.97  6905.0  0.0537  0.0531  288.0
536.5  7494.0  0.0532  0.0527  288.0  36.76  7614.0  0.0549  0.0544  288.0

              ...      36                                    37          \
         RAD  ...     RAW    REF1    REF2     QA    RAD     RAW    REF1
512.6  28.77  ...  5120.0  0.0402  0.0398  288.0  27.72  5046.0  0.0387
518.4  31.96  ...  5881.0  0.0488  0.0483  288.0  30.78  5774.0  0.0468
524.7  34.72  ...  6371.0  0.0498  0.0493  288.0  33.42  6233.0  0.0477
530.4  37.09  ...  6799.0  0.0521  0.0516  288.0  35.70  6641.0  0.0500
536.5  37.93  ...  7486.0  0.0533  0.0527  288.0  36.46  7289.0  0.0511


         REF2     QA    RAD
512.6  0.0383  288.0  26.66
518.4  0.0464  288.0  29.54
524.7  0.0473  288.0  32.06
530.4  0.0495  288.0  34.24
536.5  0.0506  288.0  34.96

[5 rows x 190 columns]

In [178]:
#Show the last 5 lines of the pandas frame
s.tail(5)

             0                                     1                          \
            RAW    REF1    REF2     QA   RAD      RAW    REF1    REF2     QA
2556.0   6806.0  0.0000  0.0000  296.0  0.00   6815.0  0.0000  0.0000  296.0
2564.0  11534.0  0.0000  0.0000  296.0  0.00  11526.0  0.0000  0.0000  296.0
2572.0   7317.0  0.0000  0.0000  296.0  0.00   7322.0  0.0000  0.0000  296.0
2579.9  11412.0  0.0213  0.0212  288.0  0.34  11410.0  0.0125  0.0125  288.0
2587.9   6100.0  0.0000  0.0000  296.0  0.00   6095.0  0.0000  0.0000  296.0

             ...       36                                   37          \
        RAD  ...      RAW    REF1    REF2     QA  RAD      RAW    REF1
2556.0  0.0  ...   6809.0  0.0000  0.0000  296.0  0.0   6812.0  0.0000
2564.0  0.0  ...  11521.0  0.0000  0.0000  296.0  0.0  11522.0  0.0000
2572.0  0.0  ...   7330.0  0.0000  0.0000  296.0  0.0   7326.0  0.0000
2579.9  0.2  ...  11410.0  0.0126  0.0126  288.0  0.2  11416.0  0.0385
2587.9  0.0  ...   6095.0  0.0000  0.0000  296.0  0.0   6092.0  0.0000


          REF2     QA   RAD
2556.0  0.0000  296.0  0.00
2564.0  0.0000  296.0  0.00
2572.0  0.0000  296.0  0.00
2579.9  0.0383  288.0  0.61
2587.9  0.0000  296.0  0.00

[5 rows x 190 columns]

## Accessing individual observations

Above, the data is segmented by an index in the first row, from observation 0 to 37. The first column represents the wavelength, which ranges from from ~500 to ~2600. The five columns below each observation number correspond to: (1) the raw observed spectra (RAW), (2) a Lunar Mare-corrected continuum (REF1), (3) a Lunar Highlands-corrected continuum (REF2), and (4) .a team provided quality assurance row (QA), (2) the raw observered spectra (RAW), (3) a mare corrected continuum (REF1), and (4) the radiance offset for the spectra. If we want to work with a single observation, say observation number 0, we can just use the index like so:

In [179]:
#Show the first observation, across all wavelengths
s[0]

            RAW    REF1    REF2     QA    RAD
512.6    5123.0  0.0402  0.0397  288.0  27.94
518.4    5887.0  0.0487  0.0482  288.0  30.99
524.7    6375.0  0.0497  0.0492  288.0  33.66
530.4    6806.0  0.0520  0.0515  288.0  35.97
536.5    7494.0  0.0532  0.0527  288.0  36.76
...         ...     ...     ...    ...    ...
2556.0   6806.0  0.0000  0.0000  296.0   0.00
2564.0  11534.0  0.0000  0.0000  296.0   0.00
2572.0   7317.0  0.0000  0.0000  296.0   0.00
2579.9  11412.0  0.0213  0.0212  288.0   0.34
2587.9   6100.0  0.0000  0.0000  296.0   0.00

[269 rows x 5 columns]

## Accessing specific wavelengths

As mentioned above, the first column represents the wavelength of the observation set. Some analysis may rely strictly on a specific wavelength range, which can be accessed like so. Notice how this indexing will not grab wavelengths just above the second number, e.g. 530.4 is not included below.

In [180]:
#Access a specific wavelength range for all observations
s.loc[518:530]

           0                                     1                          \
          RAW    REF1    REF2     QA    RAD     RAW    REF1    REF2     QA
518.4  5887.0  0.0487  0.0482  288.0  30.99  5955.0  0.0502  0.0497  288.0
524.7  6375.0  0.0497  0.0492  288.0  33.66  6461.0  0.0513  0.0507  288.0

              ...      36                                    37          \
         RAD  ...     RAW    REF1    REF2     QA    RAD     RAW    REF1
518.4  31.96  ...  5881.0  0.0488  0.0483  288.0  30.78  5774.0  0.0468
524.7  34.72  ...  6371.0  0.0498  0.0493  288.0  33.42  6233.0  0.0477


         REF2     QA    RAD
518.4  0.0464  288.0  29.54
524.7  0.0473  288.0  32.06

[2 rows x 190 columns]

In [181]:
#Access a specific wavelength range for a single observation
s[0].loc[518:530]

          RAW    REF1    REF2     QA    RAD
518.4  5887.0  0.0487  0.0482  288.0  30.99
524.7  6375.0  0.0497  0.0492  288.0  33.66

## Format Conversion
Finally, it is possible to convert the spectra object into any number of formats support by Pandas. For example, below, we convert the `.spc` file into CSV that can be opened and worked with in Excel.

In [201]:
s.to_csv('SP_2C_02_02358_S138_E3586.csv')

In [202]:
#Print the first 5 lines of the csv file that was saved to your working directory
#The first line will be the observation number, second will be the column labels, 
#and third will be the first row of data for wavelength 512.6
!head -n 3 SP_2C_02_02358_S138_E3586.csv

,0,0,0,0,0,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4,5,5,5,5,5,6,6,6,6,6,7,7,7,7,7,8,8,8,8,8,9,9,9,9,9,10,10,10,10,10,11,11,11,11,11,12,12,12,12,12,13,13,13,13,13,14,14,14,14,14,15,15,15,15,15,16,16,16,16,16,17,17,17,17,17,18,18,18,18,18,19,19,19,19,19,20,20,20,20,20,21,21,21,21,21,22,22,22,22,22,23,23,23,23,23,24,24,24,24,24,25,25,25,25,25,26,26,26,26,26,27,27,27,27,27,28,28,28,28,28,29,29,29,29,29,30,30,30,30,30,31,31,31,31,31,32,32,32,32,32,33,33,33,33,33,34,34,34,34,34,35,35,35,35,35,36,36,36,36,36,37,37,37,37,37
,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD,RAW,REF1,REF2,QA,RAD
512.6,5123.0,0.0402,0.0397,288.0,27.94,5164.0,0.0414,0.0409,288.0,28.77,5080.0,0.0391,0.038700000000000005,288.0,27.17,5078.0,0.0393,0.0388,288.0,27.28,5098.0,0.0393,0.038900000000000004,288.0,27.330000000000002,5072.0,0.0392,0.0388,288.0,27.22,5092.0,0.0392,0.0388,288.0,27.21,5104.0,0.0393,0.038900000000000004,288.0,27.28,5119.0,0.040600000000000004,0.0402,288.0,28.19,5096.0,0.039400000000000004,0.039,288.0,27.35,5199.0,0.0422,0.041800000000000004,288.0,29.3,5139.0,0.0408,0.0403,288.0,28.27,5148.0,0.0412,0.0408,288.0,28.57,5144.0,0.0412,0.0408,288.0,28.560000000000002,5179.0,0.0417,0.0413,288.0,28.94,5214.0,0.043300000000000005,0.042800000000000005,288.0,30.0,5242.0,0.043500000000000004,0.0431,288.0,30.150000000000002,5270.0,0.0442,0.0437,288.0,30.62,5237.0,0.0438,0.0434,288.0,30.35,5351.0,0.046200000000000005,0.0458,288.0,32.02,5406.0,0.0478,0.0473,288.0,33.09,5205.0,0.043000000000000003,0.0426,288.0,29.79,5144.0,0.0413,0.0409,288.0,28.6,5141.0,0.040600000000000004,0.040100000000000004,288.0,28.060000000000002,5078.0,0.0396,0.0392,288.0,27.400000000000002,5079.0,0.0396,0.0392,288.0,27.35,5088.0,0.0393,0.038900000000000004,288.0,27.17,5115.0,0.040100000000000004,0.0397,288.0,27.740000000000002,5066.0,0.038900000000000004,0.0385,288.0,26.85,5108.0,0.039900000000000005,0.0395,288.0,27.560000000000002,5125.0,0.040100000000000004,0.0397,288.0,27.72,5174.0,0.042100000000000005,0.0417,288.0,29.1,5079.0,0.0392,0.0388,288.0,27.060000000000002,5072.0,0.038900000000000004,0.0385,288.0,26.87,5104.0,0.0403,0.039900000000000005,288.0,27.78,5060.0,0.038700000000000005,0.0383,288.0,26.68,5120.0,0.0402,0.0398,288.0,27.72,5046.0,0.038700000000000005,0.0383,288.0,26.66